[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=proj_b
Exec=proj_b
Name=proj_b
# translation example:
# your app name in German locale (de)
Name[de]=proj_b

